.roadmap {
  background-color: #E2EFFF;
  padding: 100px 0;
  @media (max-width: 1024px) {
    padding: 45px 0;
  }
  .container {
    @media (max-width: 1024px) {
      padding: 0 25px;
    }
    .title {
      @include styleTitle($mainColor, $colorTitle);
      margin-bottom: 50px;
    }
    .time-line {
      position: relative;
      .swiper-container {
        .swiper-wrapper {
          .swiper-slide {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            .slide-top {
              display: flex;
              width: 100%;
              justify-content: space-between;
              margin-bottom: 50px;
              @media (max-width: 1024px) {
                flex-direction: column;
                width: 100%;
                margin-bottom: 0;
              }
              .slide-top-item {
                max-width: 250px;
                width: 100%;
                height: 130px;
                padding: 15px;
                background-color: $white;
                border: 2px solid #CDD5E7;
                position: relative;
                @media (max-width: 1024px) {
                  max-width: none;
                  margin-bottom: 20px;
                  min-height: 130px;
                  border: 0;
                  border-radius: 10px;
                }
                &:after {
                  content: '';
                  position: absolute;
                  left: 50%;
                  transform: translateX(-50%);
                  bottom: -67px;
                  width: 25px;
                  height: 25px;
                  border-radius: 50%;
                  border: 2px solid $mainColor;
                  display: block;
                  background-color: #E2EFFF;
                  @media (max-width: 1024px) {
                    display: none;
                  }
                }
                .title-slide {
                  font-size: 16px;
                  color: $colorTitle;
                  text-align: center;
                }
                p {
                  @include styleText($textColor);
                  font-size: 14px;
                  text-align: center;
                  line-height: 22px;
                  margin-top: 3px;
                }
                .triangle {
                  width: 0;
                  height: 0;
                  border-style: solid;
                  border-width: 20px 20px 0 20px;
                  border-color: #ffffff transparent transparent transparent;
                  position: absolute;
                  left: 50%;
                  transform: translateX(-50%);
                  bottom: -18px;
                  @media (max-width: 1024px) {
                    display: none;
                  }
                  &:after {
                    content: '';
                    position: absolute;
                    top: -10px;
                    left: -23px;
                    width: 28px;
                    transform: rotate(45deg);
                    height: 2px;
                    display: block;
                    background-color: #CDD5E7;
                  }
                  &:before {
                    content: '';
                    position: absolute;
                    top: -10px;
                    left: -5px;
                    width: 28px;
                    transform: rotate(-45deg);
                    height: 2px;
                    display: block;
                    background-color: #CDD5E7;
                  }
                }
              }
              .done-top {
                &:before {
                  content: '';
                  position: absolute;
                  left: 50%;
                  transform: translateX(-50%);
                  bottom: -60px;
                  width: 15px;
                  height: 15px;
                  border-radius: 50%;
                  display: block;
                  background-color: #0F60A4;
                  z-index: 1;
                  @media (max-width: 1024px) {
                    display: none;
                  }
                }
              }
            }
            .line {
              width: calc(100% + 50px);
              height: 2px;
              background-color: #CDD5E7;
              display: block;
              @media (max-width: 1024px) {
                display: none;
              }
            }
            .slide-bottom {
              display: flex;
              width: 100%;
              justify-content: space-around;
              margin-top: 50px;
              padding: 0px 10%;
              @media (max-width: 1024px) {
                flex-direction: column;
                margin-top: 0;
                width: 100%;
                padding: 0;
              }
              .slide-bottom-item {
                max-width: 250px;
                width: 100%;
                height: 130px;
                padding: 15px;
                background-color: $white;
                border: 2px solid #CDD5E7;
                position: relative;
                @media (max-width: 1024px) {
                  max-width: none;
                  min-height: 130px;
                  margin-bottom: 20px;
                  border: 0;
                  border-radius: 10px;
                  &:last-of-type {
                    margin-bottom: 0;
                  }
                }
                &:after {
                  content: '';
                  position: absolute;
                  left: 50%;
                  transform: translateX(-50%);
                  top: -67px;
                  width: 25px;
                  height: 25px;
                  border-radius: 50%;
                  border: 2px solid $mainColor;
                  display: block;
                  background-color: #E2EFFF;
                  @media (max-width: 1024px) {
                    display: none;
                  }
                }
                .title-slide {
                  font-size: 16px;
                  color: $colorTitle;
                  text-align: center;
                }
                p {
                  @include styleText($textColor);
                  font-size: 14px;
                  text-align: center;
                  line-height: 22px;
                  margin-top: 3px;
                }
                .triangle {
                  width: 0;
                  height: 0;
                  border-style: solid;
                  border-width: 0 20px 20px 20px;
                  border-color: transparent transparent #ffffff transparent;
                  position: absolute;
                  left: 50%;
                  transform: translateX(-50%);
                  top: -18px;
                  @media (max-width: 1024px) {
                    display: none;
                  }
                  &:after {
                    content: '';
                    position: absolute;
                    top: 7px;
                    left: -24px;
                    width: 28px;
                    transform: rotate(-45deg);
                    height: 2px;
                    display: block;
                    background-color: #CDD5E7;
                  }
                  &:before {
                    content: '';
                    position: absolute;
                    top: 7px;
                    left: -5px;
                    width: 28px;
                    transform: rotate(45deg);
                    height: 2px;
                    display: block;
                    background-color: #CDD5E7;
                  }
                }
              }
              .done-bottom {
                &:before {
                  content: '';
                  position: absolute;
                  left: 50%;
                  transform: translateX(-50%);
                  top: -60px;
                  width: 15px;
                  height: 15px;
                  border-radius: 50%;
                  display: block;
                  background-color: #0F60A4;
                  z-index: 1;
                  @media (max-width: 1024px) {
                    display: none;
                  }
                }
              }
            }
          }
        }
      }
      .swiper-btn-prev {
        left: -50px;
      }
      .swiper-btn-next {
        right: -50px;
      }
      .s-btn {
        position: absolute;
        top: 56%;
        transform: translateY(-50%);
        color: #C5CAD7;
        font-size: 30px;
        @media (max-width: 1024px) {
          display: none;
        }
        &:hover {
          color: $mainColor;
          cursor: pointer;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .swiper-wrapper {
    flex-direction: column !important;
  }

  .swiper-slide {
    margin-bottom: 20px;
  }

}
@media (max-width: 1024px) {

  .slide-top-item,
  .slide-bottom-item {
    min-height: auto !important;
    height: auto !important;
  }
}


.swiper-button-next,
.swiper-button-prev {
  background-image: none;
  &:hover,
  &:focus {
    outline: none;
  }
}

.swiper-button-prev {
  left: -16px;
}

.swiper-button-next {
  right: -25px;
}


.swiper-slide {
  padding-right: 25px;
  &_first {
    &:after {
      position: absolute;
      top: 180px;
      left: 0;
      z-index: 40;
      content: "";
      width: 111px;
      height: 2px;
      background-color: #E2EFFF;
    }
  }
}

@media (max-width: 992px) {
  .swiper-wrapper {
    position: static !important;
    transform: none !important;
  }
  .swiper-slide {
    padding-right: initial;
    &_first {
      &:after {
        display: none;
      }
    }
  }
}
