/* You can add global styles to this file, and also import other style files */
@import "assets/variables/fonts.scss";
@import "assets/variables/var";


body {
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'brother';
  @media (max-width: 768px) {
    font-weight: 100;
  }
}

.container {
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.row {
  margin: 0 -15px;
}

.col-33 {
  width: 33.3333%;
  padding: 0px 15px;
  @media (max-width: 768px) {
    width: 100%;
  }
}

.col-50 {
  padding: 0px 15px;
  width: 50%;
  @media (max-width: 768px) {
    width: 100%;
  }
}

.col-25 {
  padding: 0px 15px;
  @media (max-width: 768px) {
    width: 100%;
  }
}

a {
  &.btn {
    display: block;
    max-width: 240px;
    width: 100%;
    height: 50px;
    line-height: 46px;
    border-radius: 50px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
    &_secondary {
      color: $hoverColor;
      border: 2px solid $hoverColor;
      background-color: transparent;
      &:hover {
        color: #fff;
        background-color: $hoverColor;
      }
    }
  }
}

@media (max-width: 380px) {
  .social-mobile,
  .social {
    flex-wrap: wrap;
    justify-content: center !important;
    & > * {
      width: 40px;
      margin: 5px !important;
    }
  }
}
