/* You can add global styles to this file, and also import other style files */
@import "assets/variables/fonts.scss";


body {
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'brother';
  @media (max-width: 768px) {
    font-weight: 100;
  }
}

.container {
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
  padding: 0px  25px;
}

.row {
  margin: 0 -15px;
}

.col-33 {
  width: 33.3333%;
  padding: 0px 15px;
  @media (max-width: 768px) {
    width: 100%;
  }
}

.col-50 {
  padding: 0px 15px;
  width: 50%;
  @media (max-width: 768px) {
    width: 100%;
  }
}

.col-25 {
  padding: 0px 15px;
  @media (max-width: 768px) {
    width: 100%;
  }
}
