@import "../../../assets/variables/var.scss";
@import '~swiper/dist/css/swiper.min.css';
//haeder
header {
  background-image: $bgGradient;
  .container {
    padding: 20px 0;
    nav {
      ul {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        li {
          list-style: none;
          margin-left: 20px;
          cursor: pointer;
          color: $white;
          font-size: 16px;
          &:hover {
            color: $hoverColor;
          }
          &:first-of-type {
            margin-left: 0;
          }
        }
      }
    }
    .content {
      display: flex;
      justify-content: space-between;
      padding-top: 90px;
      position: relative;
      .logo {
        img {
          width: 357px;
        }
        .slogan {
          p {
            padding-top: 13px;
            font-size: 36px;
            color: $hoverColor;
            max-width: 425px;
            width: 100%;
          }
        }
        .social {
          display: flex;
          margin-top: 85px;
          .mego,
          .unknown {
            svg {
              display: block;
              width: 40px;
              height: 40px;
              margin-right: 15px;
              cursor: pointer;
              border-radius: 50%;
              &:hover {
                background-color: #00adee;
                .cls-1 {
                  stroke: #00adee;
                }
                .cls-2 {
                  fill: #083153;
                }
              }
              .cls-1, .cls-4 {
                fill: none;
              }
              .cls-1 {
                stroke: #0c6db2;
              }
              .cls-2 {
                fill: #00adee;
              }
              .cls-3 {
                stroke: none;
              }
            }
          }
          .telegram,
          .bitcoin,
          .fb,
          .in {
            svg {
              display: block;
              width: 40px;
              height: 40px;
              margin-right: 15px;
              cursor: pointer;
              border-radius: 50%;
              &:hover {
                background-color: #00adee;
                .cls-1 {
                  fill: #083153;
                }
                .cls-2 {
                  stroke: #00adee;
                }
              }
              .cls-1 {
                fill: #00adee;
              }
              .cls-2, .cls-4 {
                fill: none;
              }
              .cls-2 {
                stroke: #0c6db2;
              }
              .cls-3 {
                stroke: none;
              }
            }
          }
          .in {
            svg {
              margin-right: 0;
            }
          }
        }
      }
      .right {
        position: absolute;
        right: 0;
        top: 95px;
        img {
          width: 550px;
        }
      }
    }
  }
}

//benefits
.benefits {
  .container {
    padding-top: 90px;
    .title {
      @include styleTitle($mainColor, $colorTitle);
    }
    p {
      @include styleText($textColor);
      padding-top: 25px;
      max-width: 712px;
      text-align: left;
      padding-bottom: 68px;
    }
    .row {
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 70px;
      .col-33 {
        margin-bottom: 68px;
        &:nth-of-type(3) {
          img {
            width: 50px;
          }
        }
        &:nth-of-type(4) {
          img {
            width: 55px;
          }
        }
        &:nth-of-type(5) {
          img {
            width: 82px;
          }
        }
        &:nth-of-type(6) {
          img {
            width: 55px;
          }
        }
        img {
          width: 70px;
        }
        h6 {
          padding-top: 30px;
          font-size: 20px;
          color: $colorTitle;
        }
        p {
          padding-top: 5px;
          @include styleText($textColor);
          max-width: 320px;
          width: 100%;
          text-align: left;
          padding-bottom: 0;
        }
      }
    }
  }
}

// market
.market {
  width: 100%;
  background-size: contain;
  background-repeat: repeat-y;
  .container {
    display: flex;
    .market-left {
      width: 60%;
      padding-top: 100px;
      padding-bottom: 30px;
      .title {
        @include styleTitle($hoverColor, $mainColor);
      }
      p {
        padding-top: 30px;
        max-width: 700px;
        width: 100%;
        text-align: left;
        @include styleText(white);
      }
      .row {
        padding-top: 70px;
        display: flex;
        flex-wrap: wrap;
        .col-50 {
          padding-bottom: 70px;
          h6 {
            color: $white;
            font-size: 20px;
          }
          p {
            padding-top: 5px;
          }
        }
      }
    }
    .market-right {
      width: 40%;
      padding-top: 100px;
      padding-bottom: 30px;
      position: relative;
      img {
        width: 390px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -160px;
      }
    }
  }
}

//crisis
.crisis {
  background-color: #E2EFFF;
  padding-top: 90px;
  padding-bottom: 30px;
  .container {
    .title {
      @include styleTitle($mainColor, $colorTitle);
    }
    p {
      @include styleText($textColor);
      padding-top: 25px;
      max-width: 712px;
      text-align: left;
      padding-bottom: 68px;
    }
    .row {
      display: flex;
      flex-wrap: wrap;
      .col-33 {
        margin-bottom: 68px;
        h6 {
          padding-top: 30px;
          font-size: 20px;
          color: $colorTitle;
        }
        p {
          padding-top: 5px;
          @include styleText($textColor);
          max-width: 320px;
          width: 100%;
          text-align: left;
          padding-bottom: 0;
        }
      }
    }
  }
}

//statistic
.statistic {
  padding: 100px 0;
  .container {
    .title {
      @include styleTitle($mainColor, $colorTitle);
    }
    p {
      @include styleText($textColor);
      padding-top: 25px;
      max-width: 712px;
      text-align: left;
      padding-bottom: 68px;
    }
    .wrapper {
      display: flex;
      justify-content: space-between;
      .wrapper-left {
        ul {
          li {
            list-style: none;
            margin-bottom: 40px;
            &:last-of-type {
              margin-bottom: 0;
            }
            h4 {
              font-size: 30px;
              color: $colorTitle;
            }
            p {
              padding: 0;
              @include styleText($textColor);
              max-width: 300px;
              width: 100%;
              font-size: 20px;
              text-align: left;
            }
          }
        }
      }
      .wrapper-right {
        width: calc(100% - 400px);
        img {
          width: 110%;
        }
      }
    }
  }
}

//whitepaper
.whitepaper {
  background-image: $bgGradient;
  padding: 90px 0;
  .container {
    .title {
      @include styleTitle($mainColor, $hoverColor)
    }
    .wrapper {
      display: flex;
      width: 100%;
      justify-content: space-between;
      p {
        @include styleText($white);
        padding-top: 25px;
        max-width: 575px;
        text-align: left;
      }
      .btn-container {
        display: flex;
        align-items: center;
        button {
          width: 240px;
          height: 50px;
          border: 2px solid $white;
          border-radius: 50px;
          text-transform: uppercase;
          color: $white;
          font-size: 18px;
          background-color: transparent;
          cursor: pointer;
          &:hover {
            background-color: $white;
            color: $mainColor;
          }
          &:first-of-type {
            margin-right: 20px;
            color: $hoverColor;
            border: 2px solid $hoverColor;
            &:hover {
              background-color: $hoverColor;
              color: $white;
            }
          }
          &:focus {
            outline: none;
          }
        }
      }
    }
  }
}

//roadmap
.roadmap {
  background-color: #E2EFFF;
  padding: 100px 0;
  .container {
    .title {
      @include styleTitle($mainColor, $colorTitle);
      margin-bottom: 50px;
    }
    .time-line {
      position: relative;
      .swiper-container {
        .swiper-wrapper {
          .swiper-slide {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            .slide-top {
              display: flex;
              width: 100%;
              justify-content: space-between;
              margin-bottom: 50px;
              .slide-top-item {
                max-width: 250px;
                width: 100%;
                height: 130px;
                padding: 15px;
                background-color: $white;
                border: 2px solid #CDD5E7;
                position: relative;
                &:after {
                  content: '';
                  position: absolute;
                  left: 50%;
                  transform: translateX(-50%);
                  bottom: -67px;
                  width: 25px;
                  height: 25px;
                  border-radius: 50%;
                  border: 2px solid $mainColor;
                  display: block;
                  background-color: #E2EFFF;
                }
                .title-slide {
                  font-size: 16px;
                  color: $colorTitle;
                  text-align: center;
                }
                p {
                  @include styleText($textColor);
                  font-size: 14px;
                  text-align: center;
                  line-height: 22px;
                }
                .triangle {
                  width: 0;
                  height: 0;
                  border-style: solid;
                  border-width: 20px 20px 0 20px;
                  border-color: #ffffff transparent transparent transparent;
                  position: absolute;
                  left: 50%;
                  transform: translateX(-50%);
                  bottom: -18px;
                  &:after {
                    content: '';
                    position: absolute;
                    top: -10px;
                    left: -23px;
                    width: 28px;
                    transform: rotate(45deg);
                    height: 2px;
                    display: block;
                    background-color: #CDD5E7;
                  }
                  &:before {
                    content: '';
                    position: absolute;
                    top: -10px;
                    left: -5px;
                    width: 28px;
                    transform: rotate(-45deg);
                    height: 2px;
                    display: block;
                    background-color: #CDD5E7;
                  }
                }
              }
              .done-top {
                &:before {
                  content: '';
                  position: absolute;
                  left: 50%;
                  transform: translateX(-50%);
                  bottom: -60px;
                  width: 15px;
                  height: 15px;
                  border-radius: 50%;
                  display: block;
                  background-color: $colorTitle;
                  z-index: 1;
                }
              }
            }
            .line {
              width: calc(100% - 130px);
              height: 2px;
              background-color: #CDD5E7;
              display: block;
            }
            .slide-bottom {
              display: flex;
              width: 100%;
              justify-content: space-around;
              margin-top: 50px;
              padding: 0px 10%;
              .slide-bottom-item {
                max-width: 250px;
                width: 100%;
                height: 130px;
                padding: 15px;
                background-color: $white;
                border: 2px solid #CDD5E7;
                position: relative;
                &:after {
                  content: '';
                  position: absolute;
                  left: 50%;
                  transform: translateX(-50%);
                  top: -67px;
                  width: 25px;
                  height: 25px;
                  border-radius: 50%;
                  border: 2px solid $mainColor;
                  display: block;
                  background-color: #E2EFFF;
                }
                .title-slide {
                  font-size: 16px;
                  color: $colorTitle;
                  text-align: center;
                }
                p {
                  @include styleText($textColor);
                  font-size: 14px;
                  text-align: center;
                  line-height: 22px;
                }
                .triangle {
                  width: 0;
                  height: 0;
                  border-style: solid;
                  border-width: 0 20px 20px 20px;
                  border-color: transparent transparent #ffffff transparent;
                  position: absolute;
                  left: 50%;
                  transform: translateX(-50%);
                  top: -18px;
                  &:after {
                    content: '';
                    position: absolute;
                    top: 7px;
                    left: -24px;
                    width: 28px;
                    transform: rotate(-45deg);
                    height: 2px;
                    display: block;
                    background-color: #CDD5E7;
                  }
                  &:before {
                    content: '';
                    position: absolute;
                    top: 7px;
                    left: -5px;
                    width: 28px;
                    transform: rotate(45deg);
                    height: 2px;
                    display: block;
                    background-color: #CDD5E7;
                  }
                }
              }
              .done-bottom {
                &:before {
                  content: '';
                  position: absolute;
                  left: 50%;
                  transform: translateX(-50%);
                  top: -60px;
                  width: 15px;
                  height: 15px;
                  border-radius: 50%;
                  display: block;
                  background-color: $colorTitle;
                  z-index: 1;
                }
              }
            }
          }
        }
      }
      .swiper-btn-prev {
        left: -50px;
      }
      .swiper-btn-next {
        right: -50px;
      }
      .s-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: #C5CAD7;
        font-size: 30px;
        &:hover {
          color: $mainColor;
          cursor: pointer;
        }
      }
    }
  }
}

//team
.team {
  padding: 90px 0;
  .container {
    .title {
      @include styleTitle($mainColor, $colorTitle);
      margin-bottom: 70px;
    }
    .remove-margin {
      margin: 0 -10px;
    }
    .row {
      display: flex;
      flex-wrap: wrap;
      .col-25 {
        overflow: hidden;
        position: relative;
        cursor: pointer;
        max-width: 260px;
        width: 100%;
        padding-top: 20px;
        padding-bottom: 30px;
        margin-bottom: 30px;
        margin-left: 10px;
        margin-right: 10px;
        &:hover {
          .story {
            bottom: 0;
          }
        }
        .user {
          position: relative;
          .bg {
            width: 160px;
            height: 160px;
            background-color: #E2EFFF;
            border-radius: 50%;
            position: absolute;
            top: 0;
            right: 0;
          }
          img {
            width: 160px;
            position: relative;
            z-index: 1;
          }
        }
        .name {
          text-align: center;
          font-size: 20px;
          color: $colorTitle;
          padding-top: 20px;
        }
        .position {
          text-align: center;
          @include styleText($colorTitle);
        }
        .story {
          position: absolute;
          bottom: -100%;
          left: 0;
          transition: all .3s linear;
          z-index: 2;
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          background-image: $itemGradient;
          border-radius: 10px;
          padding: 20px;
          p {
            @include styleText($white);
            line-height: 24px;
          }
          a {
            width: 100%;
            text-align: center;
            display: block;
            .fa-linkedin-in {
              text-align: center;
              color: $white;
              font-size: 30px;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

//press
.press {
  background-color: #E2EFFF;
  padding: 100px 0;
  .container {
    .title {
      @include styleTitle($mainColor, $colorTitle);
      margin-bottom: 70px;
    }
    .row {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .col-25 {
        max-width: 278px;
        margin-bottom: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #263137;
        min-height: 188px;
        border-radius: 10px;
      }
    }
    .btn {
      display: flex;
      flex-direction: column;
      align-items: center;
      button {
        height: 50px;
        border-radius: 60px;
        border: 2px solid $mainColor;
        color: $mainColor;
        text-transform: uppercase;
        font-size: 18px;
        max-width: 300px;
        width: 100%;
        background-color: transparent;
        cursor: pointer;
        margin-top: 50px;
        margin-bottom: 20px;
        &:hover {
          background-color: $mainColor;
          color: $white;
        }
        &:focus {
          outline: none;
        }
      }
      a {
        color: $mainColor;
        font-size: 18px;
        display: block;
        cursor: pointer;
      }
    }
  }
}

//more info
.moreInfo {
  padding: 100px 0;
  .container {
    .title {
      @include styleTitle($mainColor, $textColor)
    }
    p {
      @include styleText($textColor);
      padding-top: 25px;
      max-width: 712px;
      text-align: left;
      padding-bottom: 50px;
    }
    .bottom-container {
      display: flex;
      justify-content: space-between;
      button[type='button'] {
        height: 50px;
        border-radius: 60px;
        border: 2px solid $mainColor;
        color: $mainColor;
        text-transform: uppercase;
        font-size: 18px;
        max-width: 300px;
        width: 100%;
        background-color: transparent;
        cursor: pointer;
        &:hover {
          background-color: $mainColor;
          color: $white;
        }
        &:focus {
          outline: none;
        }
      }
    }
    form {
      max-width: 500px;
      width: 100%;
      position: relative;
      input {
        height: 50px;
        border-radius: 60px;
        border: 2px solid #C5CAD7;
        padding-left: 15px;
        padding-right: 100px;
        max-width: 356px;
        width: 100%;
        &:focus {
          outline: none;
        }
        &::placeholder {
          font-size: 16px;
          color: #8B95AF;
          font-family: "brother_book";
        }
      }
      button[type='submit'] {
        position: absolute;
        top: 0;
        right: 0;
        height: 50px;
        border-radius: 60px;
        color: $white;
        background-color: $mainColor;
        text-transform: uppercase;
        font-size: 18px;
        max-width: 240px;
        width: 100%;
        cursor: pointer;
        border: 0;
        &:hover {
          background-color: #0F60A4;
        }
        &:focus {
          outline: none;
        }
      }
    }
  }
}

//footer
footer {
  background-color: $colorTitle;
  padding: 16px 0;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
      @include styleText(#8B95AF);
    }
    .social {
      display: flex;
      .mego,
      .unknown {
        svg {
          display: block;
          width: 40px;
          height: 40px;
          margin-right: 15px;
          cursor: pointer;
          border-radius: 50%;
          &:hover {
            background-color: #00adee;
            .cls-1 {
              stroke: #00adee;
            }
            .cls-2 {
              fill: #083153;
            }
          }
          .cls-1, .cls-4 {
            fill: none;
          }
          .cls-1 {
            stroke: #0c6db2;
          }
          .cls-2 {
            fill: #00adee;
          }
          .cls-3 {
            stroke: none;
          }
        }
      }
      .telegram,
      .bitkoin,
      .fb,
      .in {
        svg {
          display: block;
          width: 40px;
          height: 40px;
          margin-right: 15px;
          cursor: pointer;
          border-radius: 50%;
          &:hover {
            background-color: #00adee;
            .cls-1 {
              fill: #083153;
            }
            .cls-2 {
              stroke: #00adee;
            }
          }
          .cls-1 {
            fill: #00adee;
          }
          .cls-2, .cls-4 {
            fill: none;
          }
          .cls-2 {
            stroke: #0c6db2;
          }
          .cls-3 {
            stroke: none;
          }
        }
      }
      .in {
        svg {
          margin-right: 0;
        }
      }
    }
    .privat {
      color: #8B95AF;
      font-size: 16px;
      a {
        @include styleText(#8B95AF);
        text-decoration: none;
        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }
}
