@import "../../../assets/variables/var.scss";
@import '~swiper/dist/css/swiper.min.css';
//haeder
header {
  background-image: $bgGradient;
  @media (max-width: 768px) {
    background-image: $bgMobGradient;
  }
  .container {
    padding: 20px 0;
    @media (max-width: 768px) {
      padding: 20px 25px;
    }
    .mob-btn {
      display: none;
      @media (max-width: 768px) {
        display: block;
        position: absolute;
        top: 17px;
        right: 25px;
        z-index: 6;
        cursor: pointer;
        &.fixed-btn {
          position: fixed;
          span {
            background-color: $hoverColor !important;
          }
        }
        span {
          transition: all .3s linear;
          display: block;
          width: 20px;
          height: 1px;
          background-color: #fff;
          margin-top: 3px;
          &:first-of-type {
            transform: rotate(45deg);
            transform-origin: 50% -179%;
          }
          &:last-of-type {
            transform: rotate(-45deg);
            transform-origin: 14% -44%;
          }
        }
        &.color {
          width: 25px;
          height: 25px;
          top: 13px;
          span {
            &:first-of-type {
              transform: rotate(0deg);
              transform-origin: 0% 0%;
            }
            &:last-of-type {
              transform: rotate(0deg);
              transform-origin: 0% 0%;
            }
          }
        }
      }
    }
    nav {
      @media (max-width: 768px) {
        width: 100%;
        position: fixed;
        top: -100vh;
        left: 0;
        z-index: 5;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: all .5s linear;
        background-color: $colorTitle;
        height: 100vh;
        &.show-nav {
          top: 0;
        }
      }
      .mob-logo {
        display: none;
        @media (max-width: 768px) {
          display: block;
          width: 100px;
          margin-top: 17px;
          margin-left: 27px;
        }
      }
      ul {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding: 10px 20px;
        @media (max-width: 768px) {
          flex-direction: column;
          align-items: center;
          margin-top: 40px;
          background-color: $colorTitle;
        }
        li {
          list-style: none;
          @media (max-width: 768px) {
            border-bottom: 1px solid #465679;
            width: 100%;
            text-align: left;
            max-width: 275px;
            margin: 0 auto;
            padding: 10px 0;
            &:last-of-type {
              border-bottom: 0;
            }
          }

          &:first-of-type {
            margin-left: 0;
            @media (max-width: 768px) {
              margin: 0 auto;
            }
          }
          a {
            margin-left: 20px;
            cursor: pointer;
            color: $white;
            font-size: 16px;
            text-decoration: none;
            &:hover {
              color: $hoverColor;
            }
          }
        }
      }
      .empty {
        display: none;
        @media (max-width: 768px) {
          display: block;
          height: calc(100% - 472px);
          background-color: #465679;
        }
      }
    }
    .content {
      display: flex;
      justify-content: space-between;
      padding-top: 90px;
      position: relative;
      @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
      }
      .logo {
        img {
          width: 357px;
          @media (max-width: 768px) {
            width: 255px;
          }
        }
        .slogan {
          p {
            padding-top: 13px;
            font-size: 36px;
            color: $hoverColor;
            max-width: 425px;
            width: 100%;
            @media (max-width: 768px) {
              font-size: 24px;
              max-width: 240px;
            }
          }
        }
        .social {
          display: flex;
          margin-top: 85px;
          @media (max-width: 768px) {
            display: none;
          }
          .mego,
          .unknown {
            svg {
              display: block;
              width: 40px;
              height: 40px;
              margin-right: 15px;
              cursor: pointer;
              border-radius: 50%;
              &:hover {
                background-color: #00adee;
                .cls-1 {
                  stroke: #00adee;
                }
                .cls-2 {
                  fill: #083153;
                }
              }
              .cls-1, .cls-4 {
                fill: none;
              }
              .cls-1 {
                stroke: #0c6db2;
              }
              .cls-2 {
                fill: #00adee;
              }
              .cls-3 {
                stroke: none;
              }
            }
          }
          .telegram,
          .bitcoin,
          .fb,
          .in {
            svg {
              display: block;
              width: 40px;
              height: 40px;
              margin-right: 15px;
              cursor: pointer;
              border-radius: 50%;
              &:hover {
                background-color: #00adee;
                .cls-1 {
                  fill: #083153;
                }
                .cls-2 {
                  stroke: #00adee;
                }
              }
              .cls-1 {
                fill: #00adee;
              }
              .cls-2, .cls-4 {
                fill: none;
              }
              .cls-2 {
                stroke: #0c6db2;
              }
              .cls-3 {
                stroke: none;
              }
            }
          }
          .in {
            svg {
              margin-right: 0;
            }
          }
        }
      }
      .right {
        position: absolute;
        right: 0;
        top: 95px;
        @media (max-width: 768px) {
          position: static;
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        img {
          width: 550px;
          @media (max-width: 768px) {
            width: 100%;
          }
        }
        .social-mobile {
          display: none;
          margin-top: 20px;
          @media (max-width: 768px) {
            display: flex;
            justify-content: space-around;
            width: 100%;
          }
          .mego,
          .unknown {
            svg {
              display: block;
              width: 40px;
              height: 40px;
              margin-right: 15px;
              cursor: pointer;
              border-radius: 50%;
              &:hover {
                background-color: #00adee;
                .cls-1 {
                  stroke: #00adee;
                }
                .cls-2 {
                  fill: #083153;
                }
              }
              .cls-1, .cls-4 {
                fill: none;
              }
              .cls-1 {
                stroke: #0c6db2;
              }
              .cls-2 {
                fill: #00adee;
              }
              .cls-3 {
                stroke: none;
              }
            }
          }
          .telegram,
          .bitcoin,
          .fb,
          .in {
            svg {
              display: block;
              width: 40px;
              height: 40px;
              margin-right: 15px;
              cursor: pointer;
              border-radius: 50%;
              &:hover {
                background-color: #00adee;
                .cls-1 {
                  fill: #083153;
                }
                .cls-2 {
                  stroke: #00adee;
                }
              }
              .cls-1 {
                fill: #00adee;
              }
              .cls-2, .cls-4 {
                fill: none;
              }
              .cls-2 {
                stroke: #0c6db2;
              }
              .cls-3 {
                stroke: none;
              }
            }
          }
          .in {
            svg {
              margin-right: 0;
            }
          }
        }
      }
    }
  }
}

//benefits
.benefits {
  .container {
    padding-top: 90px;
    @media (max-width: 768px) {
      padding: 0 25px;
      padding-top: 44px;
    }
    .title {
      @include styleTitle($mainColor, $colorTitle);
    }
    p {
      @include styleText($textColor);
      padding-top: 25px;
      max-width: 712px;
      text-align: left;
      padding-bottom: 68px;
    }
    .row {
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 70px;
      @media (max-width: 768px) {
        flex-direction: column;
        align-items: flex-start;
      }
      .col-33 {
        margin-bottom: 68px;
        @media (max-width: 768px) {
          margin-bottom: 42px;
        }
        &:nth-of-type(3) {
          img {
            width: 50px;
            @media (max-width: 768px) {
              width: 25px;
            }
          }
        }
        &:nth-of-type(4) {
          img {
            width: 55px;
            @media (max-width: 768px) {
              width: 30px;
            }
          }
        }
        &:nth-of-type(5) {
          img {
            width: 82px;
            @media (max-width: 768px) {
              width: 30px;
            }
          }
        }
        &:nth-of-type(6) {
          img {
            width: 55px;
            @media (max-width: 768px) {
              width: 30px;
            }
          }
        }
        img {
          width: 70px;
          @media (max-width: 768px) {
            float: left;
            width: 30px;
            margin-right: 20px;
          }
        }
        h6 {
          padding-top: 30px;
          font-size: 20px;
          color: $colorTitle;
          @media (max-width: 768px) {
            padding-top: 0;
          }
        }
        p {
          padding-top: 5px;
          @include styleText($textColor);
          max-width: 320px;
          width: 100%;
          text-align: left;
          padding-bottom: 0;
          @media (max-width: 768px) {
            max-width: none;
            margin-top: 10px;
          }
        }
      }
    }
  }
}

// market
.market {
  width: 100%;
  background-size: contain;
  background-repeat: repeat-y;
  @media (max-width: 1024px) {
    background-image: $bgMobGradient !important;
  }
  .container {
    display: flex;
    @media (max-width: 1024px) {
      padding: 0 25px;
    }
    .market-left {
      width: 60%;
      padding-top: 100px;
      padding-bottom: 30px;
      @media (max-width: 1024px) {
        width: 100%;
        padding-top: 45px;
        padding-bottom: 0;
      }
      .title {
        @include styleTitle($hoverColor, $mainColor);
        @media (max-width: 369px) {
          max-width: 200px;
          margin-left: 28px;
          text-indent: 0;
          &:before {
            top: 18px;
            left: -30px;
          }
        }
        @media (max-width: 1024px) {
          color: white;
        }
      }
      p {
        padding-top: 30px;
        max-width: 700px;
        width: 100%;
        text-align: left;
        @include styleText(white);
      }
      .row {
        padding-top: 70px;
        display: flex;
        flex-wrap: wrap;
        @media (max-width: 1024px) {
          padding-top: 30px;
        }
        .col-50 {
          padding-bottom: 70px;
          @media (max-width: 1024px) {
            padding-bottom: 30px;
          }
          h6 {
            color: $white;
            font-size: 20px;
            @media (max-width: 768px) {
              position: relative;
              text-indent: 25px;
              font-size: 20px;
              &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: -3px;
                transform: translateY(-50%);
                width: 20px;
                height: 2px;
                border-radius: 2px;
                display: block;
                background-color: $hoverColor;
              }
            }
          }
          p {
            padding-top: 5px;
          }
        }
      }
    }
    .market-right {
      width: 40%;
      padding-top: 100px;
      padding-bottom: 30px;
      position: relative;
      @media (max-width: 1024px) {
        display: none;
      }
      img {
        width: 390px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -30%;
        @media screen and (min-width: 1025px) and (max-width: 1300px) {
          right: -5%;
          width: 30vw;
        }
      }
    }
  }
}

//crisis
.crisis {
  background-color: #E2EFFF;
  padding-top: 90px;
  padding-bottom: 30px;
  @media (max-width: 768px) {
    padding-top: 45px;
    padding-bottom: 0;
  }
  .container {
    @media (max-width: 768px) {
      padding: 0 25px;
    }
    .title {
      @include styleTitle($mainColor, $colorTitle);
      @media (max-width: 369px) {
        max-width: 200px;
        margin-left: 28px;
        text-indent: 0;
        &:before {
          top: 18px;
          left: -30px;
        }
      }
    }
    p {
      @include styleText($textColor);
      padding-top: 25px;
      max-width: 712px;
      text-align: left;
      padding-bottom: 68px;
      @media (max-width: 768px) {
        padding-bottom: 30px;
        max-width: none;
      }
    }
    .row {
      display: flex;
      flex-wrap: wrap;
      .col-33 {
        margin-bottom: 68px;
        @media (max-width: 768px) {
          margin-bottom: 30px;
        }
        h6 {
          padding-top: 30px;
          font-size: 20px;
          color: $colorTitle;
          @media (max-width: 768px) {
            position: relative;
            text-indent: 25px;
            padding-top: 0;
            &:before {
              content: '';
              position: absolute;
              top: 50%;
              left: -3px;
              transform: translateY(-50%);
              width: 20px;
              height: 2px;
              border-radius: 2px;
              display: block;
              background-color: $mainColor;
            }
          }
        }
        p {
          padding-top: 5px;
          @include styleText($textColor);
          max-width: 320px;
          width: 100%;
          text-align: left;
          padding-bottom: 0;
          @media (max-width: 768px) {
            max-width: none;
          }
        }
      }
    }
  }
}

//statistic
.statistic {
  padding: 100px 0;
  @media (max-width: 1024px) {
    padding: 45px 0;
  }
  .container {
    @media (max-width: 1024px) {
      padding: 0 25px;
    }
    .title {
      @include styleTitle($mainColor, $colorTitle);
      @media (max-width: 369px) {
        max-width: 200px;
        margin-left: 28px;
        text-indent: 0;
        &:before {
          top: 18px;
          left: -30px;
        }
      }
    }
    p {
      @include styleText($textColor);
      padding-top: 25px;
      max-width: 712px;
      text-align: left;
      padding-bottom: 68px;
      @media (max-width: 1024px) {
        padding-bottom: 30px;
      }
    }
    .wrapper {
      display: flex;
      justify-content: space-between;
      @media (max-width: 1024px) {
        flex-direction: column;
      }
      .wrapper-left {
        ul {
          li {
            list-style: none;
            margin-bottom: 40px;
            @media (max-width: 1024px) {
              margin-bottom: 30px;
            }
            &:last-of-type {
              margin-bottom: 0;
            }
            h4 {
              font-size: 30px;
              color: $colorTitle;
              @media (max-width: 1024px) {
                font-size: 25px;
              }
            }
            p {
              padding: 0;
              @include styleText($textColor);
              max-width: 300px;
              width: 100%;
              font-size: 20px;
              text-align: left;
              @media (max-width: 768px) {
                max-width: none;
                font-size: 16px;
              }
            }
          }
        }
      }
      .wrapper-right {
        width: calc(100% - 400px);
        @media (max-width: 1024px) {
          width: 100%;
          margin-top: 30px;
        }
        img {
          width: 110%;
          @media (max-width: 768px) {
            display: none;
          }
          @media screen and (min-width: 769px) and (max-width: 1024px) {
            width: 100%;
          }
          @media screen and (min-width: 1025px) and (max-width: 1200px) {
            width: 90%;
          }
        }
        .mobile-chart {
          display: none;
          @media (max-width: 768px) {
            display: block;
            width: 100%;
            margin-top: 30px;
          }
        }
      }
    }
  }
}

//whitepaper
.whitepaper {
  background-image: $bgGradient;
  padding: 90px 0;
  @media (max-width: 768px) {
    padding: 45px 0px;
    background-image: $bgMobGradient;
  }
  .container {
    @media (max-width: 768px) {
      padding: 0 25px;
    }
    .title {
      @include styleTitle($mainColor, $hoverColor)
    }
    .wrapper {
      display: flex;
      width: 100%;
      justify-content: space-between;
      @media (max-width: 1024px) {
        flex-direction: column;
        align-items: center;
      }
      p {
        @include styleText($white);
        padding-top: 25px;
        max-width: 575px;
        width: 100%;
        text-align: left;
        @media (max-width: 768px) {
          max-width: none;
          padding-top: 20px;
          padding-bottom: 30px;
        }
      }
      .btn-container {
        display: flex;
        align-items: center;
        @media (max-width: 768px) {
          flex-direction: column;
          width: 100%;
        }
        @media screen and (min-width: 769px) and (max-width: 1024px) {
          margin-top: 30px;
        }
        button {
          width: 240px;
          height: 50px;
          border: 2px solid $white;
          border-radius: 50px;
          text-transform: uppercase;
          color: $white;
          font-size: 18px;
          background-color: transparent;
          cursor: pointer;
          @media (max-width: 768px) {
            width: 100%;
          }
          &:hover {
            background-color: $white;
            color: $mainColor;
          }
          &:first-of-type {
            margin-right: 20px;
            color: $hoverColor;
            border: 2px solid $hoverColor;
            @media (max-width: 768px) {
              margin-right: 0;
              margin-bottom: 20px;
            }
            &:hover {
              background-color: $hoverColor;
              color: $white;
            }
          }
          &:focus {
            outline: none;
          }
        }
      }
    }
  }
}

//roadmap
.roadmap {
  background-color: #E2EFFF;
  padding: 100px 0;
  @media (max-width: 1024px) {
    padding: 45px 0;
  }
  .container {
    @media (max-width: 1024px) {
      padding: 0 25px;
    }
    .title {
      @include styleTitle($mainColor, $colorTitle);
      margin-bottom: 50px;
    }
    .time-line {
      position: relative;
      .swiper-container {
        .swiper-wrapper {
          .swiper-slide {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            .slide-top {
              display: flex;
              width: 100%;
              justify-content: space-between;
              margin-bottom: 50px;
              @media (max-width: 1024px) {
                flex-direction: column;
                width: 100%;
                margin-bottom: 0;
              }
              .slide-top-item {
                max-width: 250px;
                width: 100%;
                height: 130px;
                padding: 15px;
                background-color: $white;
                border: 2px solid #CDD5E7;
                position: relative;
                @media (max-width: 1024px) {
                  max-width: none;
                  margin-bottom: 20px;
                  min-height: 130px;
                  border: 0;
                  border-radius: 10px;
                }
                &:after {
                  content: '';
                  position: absolute;
                  left: 50%;
                  transform: translateX(-50%);
                  bottom: -67px;
                  width: 25px;
                  height: 25px;
                  border-radius: 50%;
                  border: 2px solid $mainColor;
                  display: block;
                  background-color: #E2EFFF;
                  @media (max-width: 1024px) {
                    display: none;
                  }
                }
                .title-slide {
                  font-size: 16px;
                  color: $colorTitle;
                  text-align: center;
                }
                p {
                  @include styleText($textColor);
                  font-size: 14px;
                  text-align: center;
                  line-height: 22px;
                }
                .triangle {
                  width: 0;
                  height: 0;
                  border-style: solid;
                  border-width: 20px 20px 0 20px;
                  border-color: #ffffff transparent transparent transparent;
                  position: absolute;
                  left: 50%;
                  transform: translateX(-50%);
                  bottom: -18px;
                  @media (max-width: 1024px) {
                    display: none;
                  }
                  &:after {
                    content: '';
                    position: absolute;
                    top: -10px;
                    left: -23px;
                    width: 28px;
                    transform: rotate(45deg);
                    height: 2px;
                    display: block;
                    background-color: #CDD5E7;
                  }
                  &:before {
                    content: '';
                    position: absolute;
                    top: -10px;
                    left: -5px;
                    width: 28px;
                    transform: rotate(-45deg);
                    height: 2px;
                    display: block;
                    background-color: #CDD5E7;
                  }
                }
              }
              .done-top {
                &:before {
                  content: '';
                  position: absolute;
                  left: 50%;
                  transform: translateX(-50%);
                  bottom: -60px;
                  width: 15px;
                  height: 15px;
                  border-radius: 50%;
                  display: block;
                  background-color: $colorTitle;
                  z-index: 1;
                  @media (max-width: 1024px) {
                    display: none;
                  }
                }
              }
            }
            .line {
              width: calc(100% - 130px);
              height: 2px;
              background-color: #CDD5E7;
              display: block;
              @media (max-width: 1024px) {
                display: none;
              }
            }
            .slide-bottom {
              display: flex;
              width: 100%;
              justify-content: space-around;
              margin-top: 50px;
              padding: 0px 10%;
              @media (max-width: 1024px) {
                flex-direction: column;
                margin-top: 0;
                width: 100%;
                padding: 0;
              }
              .slide-bottom-item {
                max-width: 250px;
                width: 100%;
                height: 130px;
                padding: 15px;
                background-color: $white;
                border: 2px solid #CDD5E7;
                position: relative;
                @media (max-width: 1024px) {
                  max-width: none;
                  min-height: 130px;
                  margin-bottom: 20px;
                  border: 0;
                  border-radius: 10px;
                  &:last-of-type {
                    margin-bottom: 0;
                  }
                }
                &:after {
                  content: '';
                  position: absolute;
                  left: 50%;
                  transform: translateX(-50%);
                  top: -67px;
                  width: 25px;
                  height: 25px;
                  border-radius: 50%;
                  border: 2px solid $mainColor;
                  display: block;
                  background-color: #E2EFFF;
                  @media (max-width: 1024px) {
                    display: none;
                  }
                }
                .title-slide {
                  font-size: 16px;
                  color: $colorTitle;
                  text-align: center;
                }
                p {
                  @include styleText($textColor);
                  font-size: 14px;
                  text-align: center;
                  line-height: 22px;
                }
                .triangle {
                  width: 0;
                  height: 0;
                  border-style: solid;
                  border-width: 0 20px 20px 20px;
                  border-color: transparent transparent #ffffff transparent;
                  position: absolute;
                  left: 50%;
                  transform: translateX(-50%);
                  top: -18px;
                  @media (max-width: 1024px) {
                    display: none;
                  }
                  &:after {
                    content: '';
                    position: absolute;
                    top: 7px;
                    left: -24px;
                    width: 28px;
                    transform: rotate(-45deg);
                    height: 2px;
                    display: block;
                    background-color: #CDD5E7;
                  }
                  &:before {
                    content: '';
                    position: absolute;
                    top: 7px;
                    left: -5px;
                    width: 28px;
                    transform: rotate(45deg);
                    height: 2px;
                    display: block;
                    background-color: #CDD5E7;
                  }
                }
              }
              .done-bottom {
                &:before {
                  content: '';
                  position: absolute;
                  left: 50%;
                  transform: translateX(-50%);
                  top: -60px;
                  width: 15px;
                  height: 15px;
                  border-radius: 50%;
                  display: block;
                  background-color: $colorTitle;
                  z-index: 1;
                  @media (max-width: 1024px) {
                    display: none;
                  }
                }
              }
            }
          }
        }
      }
      .swiper-btn-prev {
        left: -50px;
      }
      .swiper-btn-next {
        right: -50px;
      }
      .s-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: #C5CAD7;
        font-size: 30px;
        @media (max-width: 1300px) {
          display: none;
        }
        &:hover {
          color: $mainColor;
          cursor: pointer;
        }
      }
    }
  }
}

//team
.team {
  padding: 90px 0;
  @media (max-width: 768px) {
    padding: 45px 0;
  }
  .container {
    @media (max-width: 768px) {
      padding: 0 25px;
    }
    .title {
      @include styleTitle($mainColor, $colorTitle);
      margin-bottom: 70px;
      @media (max-width: 768px) {
        margin-bottom: 30px;
      }
    }
    .remove-margin {
      margin: 0 -10px;
    }
    .row {
      display: flex;
      flex-wrap: wrap;
      .col-25 {
        overflow: hidden;
        position: relative;
        cursor: pointer;
        max-width: 260px;
        width: 100%;
        padding-top: 20px;
        padding-bottom: 30px;
        margin-bottom: 30px;
        margin-left: 10px;
        margin-right: 10px;
        @media (max-width: 768px) {
          max-width: none;
          border: 1px solid #C5CAD7;
          border-radius: 10px;
        }
        &:hover {
          .story {
            bottom: 0;
          }
        }
        .user {
          position: relative;
          .bg {
            width: 160px;
            height: 160px;
            background-color: #E2EFFF;
            border-radius: 50%;
            position: absolute;
            top: 0;
            right: 0;
            @media (max-width: 768px) {
              display: none;
            }
          }
          img {
            width: 160px;
            position: relative;
            z-index: 1;
            @media (max-width: 768px) {
              margin: 0 auto;
              display: block;
            }
          }
        }
        .name {
          text-align: center;
          font-size: 20px;
          color: $colorTitle;
          padding-top: 20px;
        }
        .position {
          text-align: center;
          @include styleText($colorTitle);
        }
        .story {
          position: absolute;
          bottom: -100%;
          left: 0;
          transition: all .3s linear;
          z-index: 2;
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          background-image: $itemGradient;
          border-radius: 10px;
          padding: 20px;
          @media (max-width: 768px) {
            display: none;
          }
          p {
            @include styleText($white);
            line-height: 24px;
          }
          a {
            width: 100%;
            text-align: center;
            display: block;
            .fa-linkedin-in {
              text-align: center;
              color: $white;
              font-size: 30px;
              cursor: pointer;
            }
          }
        }
        .story-mobile {
          display: none;
          @media (max-width: 768px) {
            display: block;
            margin-top: 10px;
          }
          p {
            @include styleText($colorTitle);
            line-height: 24px;
          }
          a {
            width: 100%;
            text-align: center;
            display: block;
            .fa-linkedin-in {
              text-align: center;
              color: $white;
              font-size: 30px;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

//press
.press {
  background-color: #E2EFFF;
  padding: 100px 0;
  @media (max-width: 768px) {
    padding: 45px 0;
  }
  .container {
    @media (max-width: 768px) {
      padding: 0px 25px;
    }
    .title {
      @include styleTitle($mainColor, $colorTitle);
      margin-bottom: 70px;
      @media (max-width: 768px) {
        margin-bottom: 30px;
      }
    }
    .row {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      @media screen and (min-width: 769px) and (max-width: 1024px) {
        width: 100%;
      }
      .col-25 {
        max-width: 278px;
        margin-bottom: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #263137;
        min-height: 188px;
        border-radius: 10px;
        @media (max-width: 768px) {
          max-width: none;
        }
      }
    }
    .btn {
      display: flex;
      flex-direction: column;
      align-items: center;
      button {
        height: 50px;
        border-radius: 60px;
        border: 2px solid $mainColor;
        color: $mainColor;
        text-transform: uppercase;
        font-size: 18px;
        max-width: 300px;
        width: 100%;
        background-color: transparent;
        cursor: pointer;
        margin-top: 50px;
        margin-bottom: 20px;
        &:hover {
          background-color: $mainColor;
          color: $white;
        }
        &:focus {
          outline: none;
        }
      }
      a {
        color: $mainColor;
        font-size: 18px;
        display: block;
        cursor: pointer;
      }
    }
  }
}

//more info
.moreInfo {
  padding: 100px 0;
  @media (max-width: 768px) {
    padding: 45px 0;
  }
  .container {
    @media (max-width: 768px) {
      padding: 0 25px;
    }
    .title {
      @include styleTitle($mainColor, $textColor)
    }
    p {
      @include styleText($textColor);
      padding-top: 25px;
      max-width: 712px;
      text-align: left;
      padding-bottom: 50px;
    }
    .bottom-container {
      display: flex;
      justify-content: space-between;
      @media (max-width: 768px) {
        width: 100%;
        flex-direction: column;
      }
      button[type='button'] {
        height: 50px;
        border-radius: 60px;
        border: 2px solid $mainColor;
        color: $mainColor;
        text-transform: uppercase;
        font-size: 18px;
        max-width: 300px;
        width: 100%;
        background-color: transparent;
        cursor: pointer;
        @media (max-width: 768px) {
          max-width: none;
        }
        &:hover {
          background-color: $mainColor;
          color: $white;
        }
        &:focus {
          outline: none;
        }
      }
    }
    form {
      max-width: 500px;
      width: 100%;
      position: relative;
      @media (max-width: 768px) {
        max-width: none;
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        &:after {
          content: '';
          position: absolute;
          top: -30px;
          left: 50%;
          transform: translateX(-50%);
          display: block;
          width: 30%;
          height: 2px;
          border-radius: 3px;
          background-color: #C5CAD7;
        }
      }
      input {
        height: 50px;
        border-radius: 60px;
        border: 2px solid #C5CAD7;
        padding-left: 15px;
        padding-right: 100px;
        max-width: 356px;
        width: 100%;
        @media (max-width: 768px) {
          max-width: none;
          padding-right: 0;
        }
        &:focus {
          outline: none;
        }
        &::placeholder {
          font-size: 16px;
          color: #8B95AF;
          font-family: "brother_book";
        }
      }
      button[type='submit'] {
        position: absolute;
        top: 0;
        right: 0;
        height: 50px;
        border-radius: 60px;
        color: $white;
        background-color: $mainColor;
        text-transform: uppercase;
        font-size: 18px;
        max-width: 240px;
        width: 100%;
        cursor: pointer;
        border: 0;
        @media (max-width: 768px) {
          position: static;
          max-width: none;
          margin-top: 10px;
        }
        &:hover {
          background-color: #0F60A4;
        }
        &:focus {
          outline: none;
        }
      }
    }
  }
}

//footer
footer {
  background-color: $colorTitle;
  padding: 16px 0;
  span {
    @include styleText(#8B95AF);
  }
  .social {
    display: flex;
    .mego,
    .unknown {
      svg {
        display: block;
        width: 40px;
        height: 40px;
        margin-right: 15px;
        cursor: pointer;
        border-radius: 50%;
        &:hover {
          background-color: #00adee;
          .cls-1 {
            stroke: #00adee;
          }
          .cls-2 {
            fill: #083153;
          }
        }
        .cls-1, .cls-4 {
          fill: none;
        }
        .cls-1 {
          stroke: #0c6db2;
        }
        .cls-2 {
          fill: #8B95AF;
        }
        .cls-3 {
          stroke: none;
        }
      }
    }
    .telegram,
    .bitkoin,
    .fb,
    .in {
      svg {
        display: block;
        width: 40px;
        height: 40px;
        margin-right: 15px;
        cursor: pointer;
        border-radius: 50%;
        &:hover {
          background-color: #00adee;
          .cls-1 {
            fill: #083153;
          }
          .cls-2 {
            stroke: #00adee;
          }
        }
        .cls-1 {
          fill: #8B95AF;
        }
        .cls-2, .cls-4 {
          fill: none;
        }
        .cls-2 {
          stroke: #0c6db2;
        }
        .cls-3 {
          stroke: none;
        }
      }
    }
    .in {
      svg {
        margin-right: 0;
      }
    }
  }
  .privat {
    color: #8B95AF;
    font-size: 16px;
    a {
      @include styleText(#8B95AF);
      text-decoration: none;
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 768px) {
      display: none;
    }
  }
  .mob-footer {
    display: none;
    @media (max-width: 768px) {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .privat {
        padding: 20px 0;
      }
    }
  }
}

//modal
.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #8B95AF;
  z-index: 9;
  display: none;
  align-items: center;
  justify-content: center;
  transition: all 1s linear;
  @media (max-width: 768px) {
    position: fixed;
  }
  &.show {
    display: flex;
  }
  .popup-wrp {
    background-color: $white;
    max-width: 620px;
    width: 100%;
    border-radius: 10px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    @media (max-width: 768px) {
      border-radius: 0;
      align-items: flex-start;
      padding: 25px;
    }
    .title {
      color: $colorTitle;
      font-size: 30px;
      @media (max-width: 768px) {
        font-size: 24px;
        padding-bottom: 20px;
      }
    }
    p {
      @include styleText($textColor);
      padding-top: 15px;
      padding-bottom: 30px;
      text-align: center;
      @media (max-width: 768px) {
        text-align: left;
        padding-top: 0;
      }
    }
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 500px;
      width: 100%;
      input,
      textarea {
        width: 100%;
        height: 50px;
        border-radius: 60px;
        border: 1px solid #C5CAD7;
        padding-left: 20px;
        color: $colorTitle;
        cursor: pointer;
        font-size: 16px;
        margin-bottom: 15px;
        @media (max-width: 768px) {
          font-weight: 100;
        }
        &::placeholder {
          color: #8B95AF;
        }
        &:focus {
          border: 1px solid $mainColor;
          outline: none;
        }
      }
      .flex-column,
      .form-row {
        position: relative;
        width: 100%;
        .error {
          position: absolute;
          font-size: 10px;
          color: red;
          bottom: 0;
          left: 0;
        }
      }
      .form-row {
        display: flex;
        justify-content: space-between;
        width: 100%;
        @media (max-width: 768px) {
          display: flex;
          flex-direction: column;
        }
        input[type='email'] {
          max-width: 308px;
          width: 100%;
          @media (max-width: 768px) {
            max-width: none;
          }
        }
        input[type='tel'] {
          max-width: 177px;
          width: 100%;
          @media (max-width: 768px) {
            max-width: none;
          }
        }
      }
      textarea {
        height: 76px;
        padding-top: 15px;
        resize: none;
        border-radius: 25px;
      }
      button[type='submit'] {
        height: 50px;
        border-radius: 60px;
        color: $mainColor;
        border: 2px solid $mainColor;
        background-color: transparent;
        text-transform: uppercase;
        font-size: 18px;
        max-width: 240px;
        width: 100%;
        margin-top: 20px;
        cursor: pointer;
        &:hover {
          background-color: $mainColor;
          color: $white;
        }
        &:focus {
          outline: none;
        }
      }
    }
    .close {
      position: absolute;
      top: 20px;
      right: 20px;
      cursor: pointer;
      width: 30px;
      height: 30px;
      span {
        width: 30px;
        height: 2px;
        background-color: #DCE7F4;
        display: block;
        position: absolute;
        top: -11px;
        left: 10px;
        @media (max-width: 768px) {
          top: 19px;
          left: 2px;
        }
        &:first-of-type {
          transform: rotate(45deg);
        }
        &:last-of-type {
          transform: rotate(-45deg);
          transform-origin: 45% 50%;
        }
      }
    }
  }
}
