@import "../../../assets/variables/var.scss";
//haeder
header {
  background-image: $bgGradient;
  .container {
    padding: 20px 0;
    nav {
      ul {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        li {
          list-style: none;
          margin-left: 20px;
          cursor: pointer;
          color: $white;
          font-size: 16px;
          &:hover {
            color: $hoverColor;
          }
          &:first-of-type {
            margin-left: 0;
          }
        }
      }
    }
    .content {
      display: flex;
      justify-content: space-between;
      padding-top: 90px;
      position: relative;
      .logo {
        img {
          width: 357px;
        }
        .slogan {
          p {
            padding-top: 13px;
            font-size: 36px;
            color: $hoverColor;
          }
        }
        .social {
          display: flex;
          margin-top: 85px;
          .mego,
          .unknown {
            svg {
              display: block;
              width: 40px;
              height: 40px;
              margin-right: 15px;
              cursor: pointer;
              border-radius: 50%;
              &:hover {
                background-color: #00adee;
                .cls-1 {
                  stroke: #00adee;
                }
                .cls-2 {
                  fill: #083153;
                }
              }
              .cls-1, .cls-4 {
                fill: none;
              }
              .cls-1 {
                stroke: #0c6db2;
              }
              .cls-2 {
                fill: #00adee;
              }
              .cls-3 {
                stroke: none;
              }
            }
          }
          .telegram,
          .bitcoin,
          .fb,
          .in {
            svg {
              display: block;
              width: 40px;
              height: 40px;
              margin-right: 15px;
              cursor: pointer;
              border-radius: 50%;
              &:hover {
                background-color: #00adee;
                .cls-1 {
                  fill: #083153;
                }
                .cls-2 {
                  stroke: #00adee;
                }
              }
              .cls-1 {
                fill: #00adee;
              }
              .cls-2, .cls-4 {
                fill: none;
              }
              .cls-2 {
                stroke: #0c6db2;
              }
              .cls-3 {
                stroke: none;
              }
            }
          }
          .in {
            svg {
              margin-right: 0;
            }
          }
        }
      }
      .right {
        position: absolute;
        right: 0;
        top: 95px;
        img {
          width: 550px;
        }
      }
    }
  }
}

//benefits
.benefits {
  .container {
    padding-top: 90px;
    .title {
      @include styleTitle;
    }
    p {
      @include styleText;
      padding-top: 25px;
      max-width: 712px;
      text-align: left;
      padding-bottom: 68px;
    }
    .row {
      display: flex;
      flex-wrap: wrap;
      .col-33 {
        margin-bottom: 68px;
        &:nth-last-of-type(n+3) {
          margin-bottom: 0;
        }
        &:nth-of-type(3) {
          img {
            width: 50px;
          }
        }
        &:nth-of-type(4) {
          img {
            width: 55px;
          }
        }
        &:nth-of-type(5) {
          img {
            width: 82px;
          }
        }
        &:nth-of-type(6) {
          img {
            width: 55px;
          }
        }
        img {
          width: 70px;
        }
        h6 {
          padding-top: 30px;
          font-size: 20px;
          color: $colorTitle;
        }
        p {
          padding-top: 5px;
          @include styleText;
          max-width: 320px;
          width: 100%;
          text-align: left;
        }
      }
    }
  }
}


